.dark {
  --bg-primary: #18191a;
  --bg-secondary: #242526;
  --bg-third: #3a3b3c;
  --bg-forth: #000;
  --bg-fifth: #888888;
  --color-primary: #f1f1f1;
  --color-secondary: #b0b3b8;
  --shadow-2: rgba(0, 0, 0, 0.65);
}
.dark .blur {
  background: rgba(1, 1, 1, 0.53);
}
.dark .hover1:hover {
  background: var(--bg-third);
}
/* --------- Header ---------- */
.dark .header_right svg {
  fill: #fff;
}
.dark .all_right_circle i {
  filter: invert(100%);
}
.dark .active_header {
  background: var(--light-blue-color) !important;
}
.dark .active_header svg {
  fill: var(--blue-color) !important;
}
.dark .header_right .circle_icon:hover {
  background: var(--bg-fifth);
}
.dark input[type="text"] {
  color: var(--color-primary);
}
.dark .small_circle i,
.dark .circle i,
.dark .small_circle svg {
  filter: invert(100%) !important;
}
/* --------- Header ---------- */
/* --------- Home ---------- */
.dark .left_home .small_circle {
  background: var(--bg-fifth);
}
